<html>
  <h1>My assiment part 2</h1>
  <h2>Please select a question to see the answer</h2>
  <ul>
  <li><a href="admin/poll/poll/">2  (5 pts)Input some data for testing, you must have at least 4 polls with each poll having from 2 to 4 choices, and randomly provide responses for some of the choices in these poll. Make sure you have some published and unpublished polls. Use the admin interface username: test, password: 123123</a></li><br>
  <li><a href="test">2  (5 pts) Create a view to list all the posts which have a published status, show the poll title and date it will be active until.</a></li><br>
  <li><a href="test">3  (5 pts) Create a view to list all the posts which have a unpublished status, show the poll title and date it will be active until.</a></li><br>
  <li><a href="test2/7">4  (10 pts) Create a view to show the details of a single poll (all information about the poll), including the question and all the choices available.</a></li><br>
  <li><a href="test3/1">5  (5 pts) Create a view to list the names of everyone that selected a specific choice in a poll and the time they submitted their response</a></li><br>
  <li><a href="test">6  (5 pts) n the poll list view, make the title of each poll into a list that opens the corresponding poll’s detailed view when clicked.</a></li><br>
  <li>7  (5 pts) In the poll list view, show number of responses for each poll.</li><br>
  <li>8  (5 pts) In the detailed view, show the total number of responses, and for each response, show how many people chose that response.
</li><br>
  <li>9  (5 pts) In the detailed view, turn each choice into a link if clicked will open the view the lists the names of everyone that made that choice.</li><br>
  </ul>
</htm>